Button{
    font-weight: 800;
    font-size: 18px;
}
ul div{
    display: flex;
    justify-content: space-between;
}
Button{
    text-align: left;
}
.scroll {
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}
.icon{
    margin-right: 30px !important;
}
