Button{
    font-weight: 800;
    font-size: 18px;
}
ul div{
    display: flex;
    justify-content: space-between;
}
Button{
    text-align: left;
}
.scroll {
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}
.icon{
    margin-right: 30px !important;
}
.nav li .submenu{
    visibility: hidden;
    
}
.nav li:hover .submenu{
    opacity: 1 !important;
    visibility: inherit;
}
.nav li .submenu{
    z-index: 1000;
}

.nav li .submenu li .submenu{
top: 0px !important;
left: 120% !important;
opacity: 0 !important;
}
.nav li .submenu li:hover .submenu{
    left: 100% !important;
    opacity: 1 !important;
}
